@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Black+Ops+One|Monoton|DM+Sans|Audiowide|Poiret+One&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    /*font-family: 'Poiret One', cursive;
    /*font-family: 'Fredoka One', cursive;*/
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    margin: auto;
    padding: 10px 30px;
    /*background-color: #c4dae9;*/
}

h1,
h2 {
    font-family: 'Audiowide', cursive;
    margin-bottom: 45px;
    text-align: center;
}

input[type=number] {
    opacity: 1;
    width: 80px;
    font-size: smaller;
    padding-left: 8px;
}

input[type=text]:focus,
input[type=number]:focus {
    border: 1px solid rgb(168, 151, 0);
    box-shadow: 0 0 5px 0 rgb(224, 255, 47);
}

input[type=text],
input[type=number] {
    border: 1px solid rgb(168, 151, 0);
}

output {
    color: navy;
}

#xminHolder input[type=number],
#xmaxHolder input[type=number] {
    margin: 0 5px;
}

.control-panel {
    background-color: rgb(255, 248, 185);
    margin: 0 10px;
    margin-top: 20px;
    padding: 15px 5px;
    border-radius: 5px;
    border: 2px solid rgb(168, 151, 0);
}

.response-place {
    display: none;
}

.form-num {
    display: inline;
}

.modal .fade .show {
    display: block;
}

.button-place {
    width: 600px;
    margin: auto;
}

#solve {
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 3px;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        margin: 3px;
        padding: 10px 30px;
    }
    h2 {
        font-size: 1vw;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }
}