@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Black+Ops+One|Monoton|DM+Sans|Audiowide|Poiret+One&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    /*font-family: 'Poiret One', cursive;
    /*font-family: 'Fredoka One', cursive;*/
    font-weight: bolder;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    width: 800px;
    margin: auto;
    padding: 10px 30px;
    /*background-color: #c4dae9;*/
}

h1 {
    font-family: 'Audiowide', cursive;
    /*font-family: 'Monoton', cursive;
    /*font-family: Arial, Helvetica, sans-serif;*/
    margin-bottom: 45px;
    text-align: center;
}

input[type=number] {
    opacity: 1;
    width: 90px;
}

input[type=text]:focus,
input[type=number]:focus {
    border: 1px solid greenyellow;
    box-shadow: 0 0 5px 0 greenyellow;
}

input[type=text],
input[type=number] {
    border: 1px solid greenyellow;
}

button {
    background-color: #8ead90;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

output {
    color: navy;
}

#xminHolder input[type=number],
#xmaxHolder input[type=number] {
    margin: 0 5px;
}

.control-panel {
    background-color: rgb(230, 250, 229);
    margin-top: 20px;
    padding: 15px 5px;
    border-radius: 5px;
    border: 2px solid rgb(17, 129, 55);
}

.response-place {
    display: none;
}

.form-num {
    display: inline;
}

#solve {
    margin-top: 25px;
}

@media screen and (max-width: 576px) {
    main {
        width: 100%;
        margin: 3px;
        padding: 10px 30px;
    }
}